My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -208,
        0
      ],
      "id": "******************",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "q": "after:7d"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        16,
        0
      ],
      "id": "***************************",
      "name": "Get many messages",
      "webhookId": "*****************************",
      "credentials": {
        "gmailOAuth2": {
          "id": "**********************",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let mailMetni = \"\";\n\nfor (const item of $input.all()) {\n  const subject = item.json.subject || \"Konu Yok\";\n  const from = item.json.from || \"Bilinmeyen Gönderen\";\n  const snippet = item.json.snippet || \"\";\n  \n  mailMetni += `Gönderen: ${from}\\nKonu: ${subject}\\nÖzet İçerik: ${snippet}\\n-------------------\\n`;\n}\n\nreturn [{ json: { tumMailler: mailMetni } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "****************************",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=Mailleri 'Önemli İş/Finans/Eğitim', 'Kişisel/Sosyal Seminerler' ve 'Bülten/Reklam' olarak 3 net kategoriye ayır.\n\nHer önemli mail için sadece konuyu yazmakla kalma; mailin asıl amacını, varsa yapılması gereken eylemi (Action Item) veya önemli tarihleri/vade sürelerini 2-3 maddelik kısa bir özet halinde detaylandır.\n\nTasarım Kuralları (Minimalist ve Şık):\n\nÇıktıyı bana çok minimalist, modern ve profesyonel bir HTML e-posta şablonu (inline CSS kullanarak) olarak ver. Arka plan açık gri (#f9f9fb) olsun.\n\nÖnemli mailler için kalın ve göz yoran renkli kutular yerine, beyaz arka planlı, çok ince gri çerçeveli ve sadece sol kenarında zarif, ince renkli bir çizgi (Border-left) olan modern kart tasarımı kullan.\n\nYazı tiplerini (font-family: 'Inter', sans-serif) gibi modern ve temiz seç. Emojileri azalt, sadece kategori başlıklarında 1'er adet zarif emoji kullan.\n\nÖnemsiz mailleri ise en altta 'Diğer Bildirimler' başlığı altında, kart oluşturmadan, sadece tek bir satırda gönderen ve konu şeklinde çok sade bir liste yap.\n\nDoğrudan temiz HTML kodunu dön, kod blokları (```html) içine kesinlikle alma.\n\nAnaliz edilecek mailler:{{ $json.tumMailler }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        432,
        0
      ],
      "id": "********************************",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "*****************",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "example@gmail.com",
        "subject": "Haftalık Akıllı E-Posta Özeti ve Analizi",
        "message": "={{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        784,
        0
      ],
      "id": "**************************",
      "name": "Send a message",
      "webhookId": "***************************",
      "credentials": {
        "gmailOAuth2": {
          "id": "*****************",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "********************************",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "*********************************"
  },
  "nodeGroups": [],
  "id": "*******************",
  "tags": []
}